body {
  padding-top: 100px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

p, div {
font-family: 'Vollkorn', Georgia, Times, serif;
}
