body{
	padding-top: 70px;
}

.jumbotron {
	padding: 0.5em 0.6em;
}

.jumbotron  h1{
	font-size:3em;
}

.jumbotron p{
	font-size: 1.5em;
	.btn {
		padding: 0em;
	}
}


.datepicker{
z-index:1151;
}

#addSign {
	float: right;
	cursor: pointer; 
	cursor: hand;
	text-decoration: none;
	color: inherit;
	outline: none; 
}

#editPerson {
	float: right;
	cursor: pointer; 
	cursor: hand;
	text-decoration: none;
	color: inherit;
	outline: none; 
}
 
.peopleSpan{
	display: inline-block;
	color: inherit;
	outline: none; 
}
.peopleSpan:hover{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	outline: none; 
}
.List .list-group-item:first-child
{
	cursor: pointer;
	cursor: hand;
}